<!-- GNUnet not running -->
<oid-modal id="GnunetInfo">
  <div class="logo"><img src="assets/reclaim_icon.png"/></div>
  <hr>
  <div style="text-align: center; font-size: 18px;">
    <strong> Unable to connect to GNUnet. <br/> Maybe it is not running? </strong>
  </div>
</oid-modal>


<!-- Buttons -->
<div *ngIf="canSearch()"  style="margin-top: 1em; text-align: center;">
  <!-- Identity search -->
  <div class="form-inline" style="display: table; margin: auto;">
    <div class="search-wrapper">
    <input class="form-control mr-sm-2" type="search" [(ngModel)]="searchTerm" name="searchTerm" placeholder="Search identities" style="border-radius: 2em;">
    </div>
    <button class="btn btn-primary" [routerLink]="['/new-identity']">
      <span class="fa fa-user-plus"></span> New identity
    </button>
    <button class="btn btn-primary" [routerLink]="['/import-identity']">
      <span class="fa fa-exchange"></span> Restore identity from escrow
    </button>
  </div>
  <br/>
</div>

<!-- Cancel authorization -->
<div style="margin-bottom: 1em; text-align: center;" *ngIf="inOpenIdFlow()">
    <button *ngIf="inOpenIdFlow()" class="btn btn-danger mt-2" (click)="cancelRequest()">
      <span class="fa fa-ban"></span> Decline authorization request
    </button>
</div>

<!-- error infos -->
<div *ngFor="let err of errorInfos" class="alert alert-danger show" role="alert">
  <b>ERROR</b>
  <button class="btn btn-primary ml-4" (click)="errorInfos.splice(errorInfos.indexOf(err,0), 1)">
    <span>Dismiss</span>
  </button>
  <br/>
  {{err}}
</div>

<!-- No identities present -->
<div *ngIf="isConnected() && 0 == identities.length" style="text-align: center;" class="alert alert-secondary alert-dismissible fade show" role="alert">
  You don't have any identities yet.<br/><br/>
  <button class="btn btn-primary" [routerLink]="['/new-identity']">
    <span class="fa fa-plus"></span> Add your first identity!
  </button>
</div>

<!-- Identity cards -->
<!-- No match -->
<div *ngIf="canSearch()">
  <div *ngIf="(identities | search: searchTerm).length == 0" style="text-align: center;" class="alert alert-secondary alert-dismissible fade show" role="alert">No matching identities.</div>
</div>
<!-- Cards -->
<div class="card-columns p-2 mr-5 ml-5" [ngStyle]="{'column-count': '1'}" style="display: flex; flex-direction:column; align-items:center">
  <div class="card mb-5" *ngFor="let identity of identities | search: searchTerm" style="max-width: 50em; min-height: 20em;">
    <div class="card-avatar card-img-top">
      <div class="card-avatar-character text-dark">
      <img src="assets/reclaim_icon.png" style="width: 4em;opacity: 0.3;">

        <!--<div class="icon m-1 text-uppercase" [style.background-color]="intToRGB(identity.pubkey)">{{ identity.name[0]}}</div>-->
        <i class="fa fa-user-circle"></i>
        <span class="m-1" style="display: inline-block"><i> {{identity.name}}</i></span>
        <button class="btn btn-primary" *ngIf="showConfirmDelete != identity" (click)="confirmDelete(identity)">
          <i class="fa fa-trash"></i>
        </button>
        <button class="btn btn-primary" *ngIf="showConfirmDelete != identity" [routerLink]="['/edit-identity', identity.name]">
          <i class="fa fa-edit"></i>
        </button>
        <button class="btn btn-primary" *ngIf="showConfirmDelete != identity" [routerLink]="['/escrow-identity', identity.name]">
          <span class="fa fa-life-ring"></span>
        </button>
      </div>
    </div>
    <!-- Identity deletion confirmation -->
    <div class="alert alert-danger fade show" [hidden]="showConfirmDelete != identity">
      Do you really want to delete this identity?<br/><br/>
      <button class="btn btn-primary" (click)="deleteIdentity(identity)">
        <span class="fa fa-trash"></span> Delete
      </button>
      <button class="btn btn-primary" (click)="hideConfirmDelete()">
        <span class="fa fa-close"></span> Cancel
      </button>
    </div>
    <!-- Maybe add some info to identities? - dialog -->
    <div class="alert alert-secondary fade show" [hidden]="hasAttributes(identity)">
      This identity has no attributes. Maybe try <a class="buttonlink" [routerLink]="['/edit-identity', identity.name]">adding some?</a>
    </div>
    <div [hidden]="!isAnyRequestedClaimMissing(identity)"
      class="alert alert-warning alert-dismissible fade show"
      [class.alert-warning]="!isAnyRequiredClaimMissing(identity)"
      [class.alert-danger]="isAnyRequiredClaimMissing(identity)"
      role="alert">
      <span class="fa fa-openid"></span> This identity is missing some requested information:
      <ul>
        <li *ngIf="isProfileRequested() && isProfileMissing(identity)"><b>{{ getProfileDescription() }}</b></li>
        <li *ngIf="isEmailRequested() && isEmailMissing(identity)"><b>{{ getEmailDescription() }}</b></li>
        <li *ngIf="isPhoneRequested() && isPhoneMissing(identity)"><b>{{ getPhoneDescription() }}</b></li>
        <li *ngIf="isAddressRequested() && isAddressMissing(identity)"><b>{{ getAddressDescription() }}</b></li>
        <li *ngFor="let attr of getMissingClaims(identity)"><b>{{attr.name}}</b><i *ngIf="!isOptional(attr)"> (required)</i></li>
      </ul>
      <button class="btn btn-primary" [routerLink]="['/edit-identity', identity.name]">
        <span class="fa fa-edit"></span> Edit identity
      </button>
    </div>

    <div class="fa-3x mt-2" style="text-align:center">
      <img style="border-radius: 50%; width: 1em" [src]="getIdentityProfilePicture(identity)" *ngIf="identityHasProfilePicture(identity)"><i class="fa fa-user-circle" *ngIf="!identityHasProfilePicture(identity)"></i><i> {{identity.name}}</i>
    </div>

    <div class="card-body">
    <!-- Attribute table -->
      <div class="table pb-1">
        <div class="container">
          <div class="row mb-1">
          <div [class.text-primary]="isClaimRequested(identity, attribute)" class="col-sm-4 mb-4"
             [class.text-secondary]="!isClaimRequested(identity, attribute)"
             *ngFor="let attribute of getIdentityAttributes(identity)">
            <div class="col-sm">
              <span *ngIf="isClaimRequested(identity, attribute)" class="fa fa-openid mr-1"></span><b>{{getAttributeDescription(attribute)}}</b>
            </div>
            <div class="col-sm">
              <div *ngIf="getAttributeValue(identity, attribute).length <= 20" style="min-width: 15em">{{getAttributeValue(identity, attribute)}}</div>
              <div *ngIf="getAttributeValue(identity, attribute).length > 20" style="min-width: 15em">{{getAttributeValue(identity, attribute).substring(0, 20)}}<span style="color:#eee">[...]</span></div>
            </div>
          </div>
          <div *ngIf="(openIdentity != identity) && hasLotsOfAttributes(identity)" class="ml-4">
            <div>
              <i>... and {{ attributes[identity.pubkey].length - 5 }} more attributes</i><br/>
            </div>
          </div>
        </div>
        </div>
        <button class="btn btn-primary mt-3" (click)="openIdentity = identity" *ngIf="(openIdentity != identity) && hasLotsOfAttributes(identity)">
          <i class="fa fa-expand"></i>
            Show all attributes
        </button>
      </div>
    </div>
    <div *ngIf="inOpenIdFlow()">
      <button [disabled]="!isClientVerified() || isAnyRequiredClaimMissing(identity)"
        (click)="loginIdentity(identity)"
        class="btn btn-primary mr-1 openid-login">
        <span *ngIf="isClientVerified()">Share information marked with <i class="fa fa-openid text-primary"></i> from this identity.</span>
        <span *ngIf="!isClientVerified()"><i class="fa fa-exclamation-circle"></i> Sharing disabled</span>
      </button>
    </div>
  </div>

  <!-- New identity card -->
  <div class="card identity-new" [routerLink]="['/new-identity']" *ngIf="0 != identities.length" style="max-width: 50em; min-height: 20em;">
    <div class="card-avatar card-img-top">
      <div class="card-avatar-character text-dark">
        <!--<div class="icon m-1 text-uppercase" [style.background-color]="intToRGB(identity.pubkey)">{{ identity.name[0]}}</div>-->
        <i class="fa fa-user-circle"></i>
        <span class="m-1" style="display: inline-block"><i> New Identity</i></span>
      </div>
    </div>
    <div class="card-body" [routerLink]="['/new-identity']">
      <div style="text-align:center" class="mb-4">
        <i>Click to add a new identity.</i>
      </div>
      <div style="text-align:center">
        <img src="assets/reclaim_icon.png" style="width: 5em;opacity: 0.3;">
      </div>
    </div>
  </div>
</div>


