<!-- Identity import screen -->
<div class="card-columns" style="display: flex; flex-direction:column; align-items:center">
  <div class="card m-5 w-75">
    <div class="card-avatar card-img-top">
      <div class="card-avatar-character text-dark">
        Restore an identity from escrow
      </div>
    </div>
    <!-- Anchor input form -->
    <div class="card-body" id="print-section">
      <h6 class="card-subtitle mb-2 text-muted">Insert your escrow anchor to restore the identity.</h6>
      <div *ngIf="alertRestoreFailed" class="p-3">
        <div class="alert alert-danger">
          Failed to restore identity! Please try again.
        </div>
      </div>

      <app-anchor-input (anchorOutput)="getAnchor($event)"></app-anchor-input>

      <hr/>

      <div *ngIf="alertMethod" class="p-3">
        <div class="alert alert-danger">
          Method is required!
        </div>
      </div>
      <div *ngIf="alertIdentityName" class="p-3">
        <div class="alert alert-danger">
          Identity name is required!
        </div>
      </div>
      <div *ngIf="alertAnchorData" class="p-3">
        <div class="alert alert-danger">
          Anchor data is required!
        </div>
      </div>

      <button class="btn btn-primary" (click)="restoreEscrow()">
        <span class="fa fa-exchange"></span> Restore identity <i>{{ anchor.name }}</i> from escrow
      </button>
      <!-- Go Back Button -->
      <button class="btn btn-primary" [routerLink]="['/index.html']">
        <span class="fa fa-back"></span> Go back
      </button>
    </div>
  </div>
</div>
