<div style="text-align: center;">
  <i class="fa fa-2x fa-openid"></i> 
  <b class="fa-2x"> Personal information request </b>
  <br/>
  <span *ngIf="isClientVerified() === undefined">
    <i class="fa fa-2x fa-circle-o-notch fa-spin fa-fw"></i> 
    <b class="fa-2x"> Verifying request, please stand by...</b>
  </span>
  <br/>
</div>
<div class="card" *ngIf="isClientVerified()" style="margin-left:30%; width:40%;">
  <div class="card-body">
    <strong>{{ oidcService.clientName }}</strong>
    asks you to share personal information.<br/>
    Choose an identity to let it access the following information:
    <ul>
      <li *ngFor="let attribute of getRequestedStandardScopesWithDescription()"><strong>{{attribute}}</strong></li>
    </ul>
    <div *ngIf="getRequestedNonStandardClaims().length > 0">
      as well as the following additional attributes:
      <ul>
        <li *ngFor="let attribute of getRequestedNonStandardClaims()"><strong>{{attribute}}</strong></li>
      </ul>
    </div>
  </div>
  <!-- Sharing disclaimer -->
  <div class="alert alert-warning alert-dismissible fade show mb-1" role="alert">
    <i class="fa fa-exclamation-triangle mr-2"></i>
    <strong>Be careful when sharing personal data with third parties!</strong>
    If you do not want to share information from any of your identities with
    <i>{{ oidcService.clientName }}</i>, you may decline the request.
    You may also permanently remove or edit information from an identity before
    sharing.
  </div>
  <div style="margin: 1em;">
    <button class="btn btn-danger m-1 mt-4" *ngIf="isClientVerified()" (click)="cancelRequest()" style="margin-bottom: -4%;">
      <span class="fa fa-ban"></span> Decline
    </button>
    <button class="btn btn-primary m-1 mt-4" [routerLink]="['/']" *ngIf="isClientVerified()">
      <span class="fa fa-arrow-circle-right"></span> Select identity...
    </button>
  </div>
</div>
<div *ngIf="isClientVerified() !== undefined && !isClientVerified()" style="text-align: center;">
  <div class="alert alert-danger show" role="alert">
    <b>Authorization failed.</b><br/>
    <button class="btn btn-primary mt-4" *ngIf="!isClientVerified()" (click)="retryVerify();">
      <span class="fa fa-openid"></span> Retry
    </button>
  </div>
</div>
<div *ngIf="isClientVerified() === undefined" style="text-align: center;">
  <button class="btn btn-danger mt-4" *ngIf="isClientVerified() === undefined" (click)="cancelRequest()">
    <span class="fa fa-ban"></span> Cancel verification request
  </button>
</div>

