<div *ngIf="actions !== ''" class="alert alert-primary fade show" style="position:fixed;top:0; width:100%;z-index:100;">
  <i class="fa fa-spinner fa-spin" aria-hidden="true"></i> {{actions}}
</div>

<!-- Identity edit screen -->
<div class="m-2 card">
  <div class="card-avatar card-img-top">
    <div class="card-avatar-character text-dark">
      <h2 class="fa-2x"><i class="fa fa-user-circle pr-2"></i> {{ identity.name }}</h2>
    </div>
  </div>
  <!-- Attribute table -->
  <div class="card-body">
    <div>
      <h3 class="card-subtitle mb-2">Basic user information <span (click)="showGeneralInfo = !showGeneralInfo" class="fa fa-question-circle"></span></h3>
      <div class="alert alert-secondary fade show" *ngIf="showGeneralInfo">
        The attributes below correspond to the standard scopes of the OpenID Connect
        specification: ``profile'', ``email'', ``phone'' and ``address''.
      </div>

      <div class="table pb-1">
          <!-- Standard "profile" claims first -->
          <div class="row mb-3" [class.openid]="inOpenIdFlow()"
              [class.text-primary]="isClaimRequested(claim)"
              [class.alert-danger]="newAttribute.name === claim.name"
              *ngFor="let claim of existingProfileClaims">
            <div class="col-sm"><div style="min-width: 15em">
                <i *ngIf="isClaimRequested(claim)" class="fa fa-openid"></i><b> {{ getDescription(claim) }}</b>
              </div>
            </div>
            <div class="col-sm">
              <input *ngIf="!isClaimCred(claim)" placeholder="Value" [(ngModel)]="claim.value">
              <span *ngIf="isClaimCred(claim)" >{{ getCredValue(claim) }} issued by <i>{{ getIssuer(claim) }}</i> as attribute for ``{{ claim.value }}''</span>
            </div>
            <div class="col-sm">
              <button class="btn btn-primary" (click)="deleteAttribute(claim)" *ngIf="!isClaimCred(claim)">
                <span class="fa fa-trash"></span>
              </button>
              <button class="btn btn-primary"  (click)="deleteAttribute(claim)" *ngIf="isClaimCred(claim)">
                <span class="fa fa-trash"></span>
              </button>
            </div>
          </div>
          <!-- Standard "profile" claims missing on the identity -->
          <div class="row mb-3" [class.openid]="inOpenIdFlow()"
              [class.text-primary]="isClaimRequested(claim)"
              [class.alert-danger]="newAttribute.name === claim.name"
              *ngFor="let claim of missingProfileClaims">
            <div class="col-sm"><div style="min-width: 15em">
                <i *ngIf="isClaimRequested(claim)" class="fa fa-openid"></i><b> {{ getDescription(claim) }}</b></div></div>
            <div class="col-sm">
              <!-- FIXME Allow adding of credential OR plain value -->
              <input placeholder="Value" [(ngModel)]="claim.value">
              <!--<input *ngIf="!isClaimCred(claim)" placeholder="Value" [(ngModel)]="claim.value">
              <span *ngIf="isClaimCred(claim)" >{{ getCredValue(claim) }} issued by <i>{{ getIssuer(claim) }}</i> as attribute for ``{{ claim.value }}''</span>-->
            </div>
            <div class="col-sm">
              <button [disabled]="!canAddAttribute(claim)" class="btn btn-primary"  (click)="addAttribute()">
                <span class="fa fa-save"></span>
              </button>
            </div>
          </div>
      </div>
      <div class="table pb-1">
          <!-- Standard "email" claims first -->
          <div class="row mb-3" [class.openid]="inOpenIdFlow()"
              [class.text-primary]="isClaimRequested(claim)"
              [class.alert-danger]="newAttribute.name === claim.name"
              *ngFor="let claim of existingEmailClaims">
            <div class="col-sm"><div style="min-width: 15em">
                <i *ngIf="isClaimRequested(claim)" class="fa fa-openid"></i><b> {{ getDescription(claim) }}</b></div></div>
            <div class="col-sm">
              <input *ngIf="!isClaimCred(claim)" placeholder="Value" [(ngModel)]="claim.value">
              <span *ngIf="isClaimCred(claim)" >{{ getCredValue(claim) }} issued by <i>{{ getIssuer(claim) }}</i> as attribute for ``{{ claim.value }}''</span>
            </div>
            <div class="col-sm">
              <button class="btn btn-primary" (click)="deleteAttribute(claim)" *ngIf="!isClaimCred(claim)">
                <span class="fa fa-trash"></span>
              </button>
              <button class="btn btn-primary"  (click)="deleteAttribute(claim)" *ngIf="isClaimCred(claim)">
                <span class="fa fa-trash"></span>
              </button>
            </div>
          </div>
          <!-- Standard "email" claims missing on the identity -->
          <div class="row mb-3" [class.openid]="inOpenIdFlow()"
              [class.text-primary]="isClaimRequested(claim)"
              [class.alert-danger]="newAttribute.name === claim.name"
              *ngFor="let claim of missingEmailClaims">
            <div class="col-sm"><div style="min-width: 15em">
                <i *ngIf="isClaimRequested(claim)" class="fa fa-openid"></i><b> {{ getDescription(claim) }}</b></div></div>
            <div class="col-sm">
              <!-- FIXME Allow adding of credential OR plain value -->
              <input placeholder="Value" [(ngModel)]="claim.value">
              <!--<input *ngIf="!isClaimCred(claim)" placeholder="Value" [(ngModel)]="claim.value">
              <span *ngIf="isClaimCred(claim)" >{{ getCredValue(claim) }} issued by <i>{{ getIssuer(claim) }}</i> as attribute for ``{{ claim.value }}''</span>-->
            </div>
            <div class="col-sm">
              <button [disabled]="!canAddAttribute(claim)" class="btn btn-primary"  (click)="addAttribute()">
                <span class="fa fa-save"></span>
              </button>
            </div>
          </div>
      </div>


      <div class="table pb-1">
          <!-- Standard "address" claims first -->
          <div class="row mb-3" [class.openid]="inOpenIdFlow()"
              [class.text-primary]="isClaimRequested(claim)"
              [class.alert-danger]="newAttribute.name === claim.name"
              *ngFor="let claim of existingAddressClaims">
            <div class="col-sm"><div style="min-width: 15em">
                <i *ngIf="isClaimRequested(claim)" class="fa fa-openid"></i><b> {{ getDescription(claim) }}</b></div></div>
            <div class="col-sm">
              <input *ngIf="!isClaimCred(claim)" placeholder="Value" [(ngModel)]="claim.value">
              <span *ngIf="isClaimCred(claim)" >{{ getCredValue(claim) }} issued by <i>{{ getIssuer(claim) }}</i> as attribute for ``{{ claim.value }}''</span>
            </div>
            <div class="col-sm">
              <button class="btn btn-primary" (click)="deleteAttribute(claim)" *ngIf="!isClaimCred(claim)">
                <span class="fa fa-trash"></span>
              </button>
              <button class="btn btn-primary"  (click)="deleteAttribute(claim)" *ngIf="isClaimCred(claim)">
                <span class="fa fa-trash"></span>
              </button>
            </div>
          </div>
          <!-- Standard "profile" claims missing on the identity -->
          <div class="row mb-3" [class.openid]="inOpenIdFlow()"
              [class.text-primary]="isClaimRequested(claim)"
              [class.alert-danger]="newAttribute.name === claim.name"
              *ngFor="let claim of missingAddressClaims">
            <div class="col-sm"><div style="min-width: 15em">
                <i *ngIf="isClaimRequested(claim)" class="fa fa-openid"></i><b> {{ getDescription(claim) }}</b></div></div>
            <div class="col-sm">
              <!-- FIXME Allow adding of credential OR plain value -->
              <input placeholder="Value" [(ngModel)]="claim.value">
              <!--<input *ngIf="!isClaimCred(claim)" placeholder="Value" [(ngModel)]="claim.value">
              <span *ngIf="isClaimCred(claim)" >{{ getCredValue(claim) }} issued by <i>{{ getIssuer(claim) }}</i> as attribute for ``{{ claim.value }}''</span>-->
            </div>
            <div class="col-sm">
              <button [disabled]="!canAddAttribute(claim)" class="btn btn-primary"  (click)="addAttribute()">
                <span class="fa fa-save"></span>
              </button>
            </div>
          </div>
      </div>

      <div class="table pb-1">
          <!-- Standard "phone" claims first -->
          <div class="row mb-3" [class.openid]="inOpenIdFlow()"
              [class.text-primary]="isClaimRequested(claim)"
              [class.alert-danger]="newAttribute.name === claim.name"
              *ngFor="let claim of existingPhoneClaims">
            <div class="col-sm"><div style="min-width: 15em">
                <i *ngIf="isClaimRequested(claim)" class="fa fa-openid"></i><b> {{ getDescription(claim) }}</b></div></div>
            <div class="col-sm">
              <input *ngIf="!isClaimCred(claim)" placeholder="Value" [(ngModel)]="claim.value">
              <span *ngIf="isClaimCred(claim)" >{{ getCredValue(claim) }} issued by <i>{{ getIssuer(claim) }}</i> as attribute for ``{{ claim.value }}''</span>
            </div>
            <div class="col-sm">
              <button class="btn btn-primary" (click)="deleteAttribute(claim)" *ngIf="!isClaimCred(claim)">
                <span class="fa fa-trash"></span>
              </button>
              <button class="btn btn-primary"  (click)="deleteAttribute(claim)" *ngIf="isClaimCred(claim)">
                <span class="fa fa-trash"></span>
              </button>
            </div>
          </div>
          <!-- Standard "phone" claims missing on the identity -->
          <div class="row mb-3" [class.openid]="inOpenIdFlow()"
              [class.text-primary]="isClaimRequested(claim)"
              [class.alert-danger]="newAttribute.name === claim.name"
              *ngFor="let claim of missingPhoneClaims">
            <div class="col-sm"><div style="min-width: 15em">
                <i *ngIf="isClaimRequested(claim)" class="fa fa-openid"></i><b> {{ getDescription(claim) }}</b></div></div>
            <div class="col-sm">
              <select *ngIf="isExperimental()" class="custom-select" (change)="claim.flag=$event.target.value; ">
                <option value="0">Plain</option>
                <option value="1">Credential</option>
              </select>

              <input *ngIf="claim.flag == '0'" placeholder="Value" [(ngModel)]="claim.value">
              <select *ngIf="claim.flag == '1'" class="custom-select"
                (change)="claim.credential=$event.target.value; ">
                <option value="">Select credential source</option>
                <option *ngFor="let cred of credentials" value={{cred.id}}>
                {{cred.name}}
                </option>
              </select>

              <select class="custom-select"
                *ngIf="(claim.credential !== '') && (claim.flag == '1')" (change)="claim.value=$event.target.value">
                <option value="">Select claim</option>
                <option *ngFor="let att of credentialValuesForClaim(claim)" value={{att.name}}>
                {{att.value}} <i>({{att.name}})</i>
                </option>
              </select>

            </div>
            <div class="col-sm">
              <button [disabled]="!canAddAttribute(claim)" class="btn btn-primary"  (click)="addAttribute()">
                <span class="fa fa-save"></span>
              </button>
            </div>
          </div>
      </div>


      <h3 class="card-subtitle mb-2">Additional information <span (click)="showExtraInfo = !showExtraInfo" class="fa fa-question-circle"></span></h3>
      <div class="alert alert-secondary fade show" *ngIf="showExtraInfo">
        Non-standard claims which are not explicitly covered in the OpenID Connect core specification.
      </div>

      <!-- Missing "non-standard" claims that are requested -->
      <div class="table pb-1" *ngIf="isAnyRequestedNonStandardClaimMissing()">
          <div class="row mb-3 text-primary" 
            [class.openid]="inOpenIdFlow()"
            [class.alert-danger]="newAttribute.name === missing.name"
            *ngFor="let missing of missingNonStandardClaims">
            <div class="col-sm"><div style="min-width: 15em">
                <i *ngIf="isClaimRequested(missing)" class="fa fa-openid"></i><b> {{missing.name}}</b></div></div>
            <div class="col-sm">
              <input *ngIf="!isClaimCredentialRequested(missing)" placeholder="Value" [(ngModel)]="missing.value">
              <select *ngIf="isClaimCredentialRequested(missing)" class="custom-select" (change)="missing.credential=$event.target.value; ">
                <option value="">Select credential source</option>
                <option *ngFor="let cred of credentials" value={{cred.id}}>
                  {{cred.name}}
                </option>
              </select>

              <select *ngIf="isClaimCredentialRequested(missing) && missing.credential !== ''" class="custom-select" (change)="missing.value=$event.target.value">
                <option value="">Select claim</option>
                <option *ngFor="let claim of credentialValuesForCred(missing)" value={{claim.name}}>
                  {{claim.value}} <i>({{claim.name}})</i>
                </option>
              </select>
            </div>
            <div class="col-sm">
            </div>
          </div>
      </div>
      <!-- "non-standard" claims which do exist -->
      <div class="table pb-1">
          <div class="row mb-3"
            [class.openid]="inOpenIdFlow()"
            [class.text-primary]="isClaimRequested(attribute)"
            [class.alert-danger]="newAttribute.name === attribute.name"
            [class.text-secondary]="isClaimCred(attribute)"
            *ngFor="let attribute of existingNonStandardClaims">
            <div class="col-sm">
              <i *ngIf="isClaimRequested(attribute)" class="fa fa-openid"></i><b> {{ attribute.name }}</b>
            </div>
            <div class="col-sm">
              <input *ngIf="!isClaimCred(attribute)" placeholder="Value" [(ngModel)]="attribute.value">
              <span *ngIf="isClaimCred(attribute)" >{{ getCredValue(attribute) }} issued by <i>{{ getIssuer(attribute) }}</i> as attribute for ``{{ attribute.value }}''</span>
            </div>
            <div class="col-sm">
              <button class="btn btn-primary" (click)="deleteAttribute(attribute)" *ngIf="!isClaimCred(attribute)">
                <span class="fa fa-trash"></span>
              </button>
              <button class="btn btn-primary"  (click)="deleteAttribute(attribute)" *ngIf="isClaimCred(attribute)">
                <span class="fa fa-trash"></span>
              </button>
            </div>
          </div>
          <!-- New Attribute -->
          <div class="row mb-3" [class.alert-danger]="isInConflict(newAttribute)">
            <div class="col-sm">
              <input [class.text-danger]="!attributeNameValid(newAttribute)" placeholder="Attribute" [(ngModel)]="newAttribute.name">
            </div>
            <div class="col-sm">

              <select *ngIf="isExperimental()" class="custom-select" (change)="newAttribute.flag=$event.target.value; ">
                <option value="0">Plain</option>
                <option value="1">Credential</option>
              </select>
              <input *ngIf="newAttribute.flag == '0'" placeholder="Value" [class.text-danger]="!attributeValueValid(newAttribute)" [(ngModel)]="newAttribute.value">
              <select *ngIf="newAttribute.flag == '1'" class="custom-select"
                (change)="newAttribute.credential=$event.target.value; ">
                <option value="">Select credential source</option>
                <option *ngFor="let cred of credentials" value={{cred.id}}>
                {{cred.name}}
                </option>
              </select>

              <select class="custom-select"
                *ngIf="newAttribute.credential !== '' && newAttribute.flag == '1'" (change)="newAttribute.value=$event.target.value">
                <option value="">Select claim</option>
                <option *ngFor="let claim of credentialValuesForClaim(newAttribute)" value={{claim.name}}>
                {{claim.value}} <i>({{claim.name}})</i>
                </option>
              </select>
            </div>
            <div class="col-sm">
              <button [disabled]="!canAddAttribute(newAttribute)" class="btn btn-primary"  (click)="addAttribute()">
                <span class="fa fa-plus"></span>
              </button>
            </div>
          </div>
      </div>
    </div>
    <!-- Attribute creation warning -->
    <div *ngIf="!attributeNameValid(newAttribute) || !attributeValueValid(newAttribute)" class="alert alert-primary alert-dismissible fade show" role="alert">
      <span class="fa fa-warning"></span> Note:
      <ul>
        <li>Only use alphanumeric attribute names.</li>
        <li>You cannot define the same name twice.</li>
        <li>Attribute values may not be empty!</li>
      </ul>
    </div>

    <hr/>

    <!-- Edit card buttons -->
    <div>
      <button class="btn btn-primary" (click)="saveIdentity()" [disabled]="!canSaveIdentity()">
        <span class="fa fa-save"></span> Save and Back
      </button>
      <button *ngIf="!inOpenIdFlow()" class="btn btn-primary" [routerLink]="['/edit-authorizations', identity.name]" [style.float]="'right'">
        <span class="fa fa-openid"></span>
        Manage authorizations
      </button>
      <button *ngIf="!inOpenIdFlow() && isExperimental()" class="btn btn-primary" [routerLink]="['/edit-credentials', identity.name]" [style.float]="'right'">
        <span class="fa fa-openid"></span>
        Manage credentials
      </button>
    </div>
  </div>
</div>
