<!-- Identity edit screen -->
<div class="m-2 card">
  <div class="card-avatar card-img-top">
    <div class="card-avatar-character text-dark">
      Third party credentials for <i>{{ identity.name }}</i>
    </div>
  </div>
  <!-- Credential management -->
  <div class="card-body">
    <h3>Link account:</h3>
    <!--IdProvider-Discovery-->
    <div>
      <!--Email not found Warning-->
      <div *ngIf="!emailNotFoundAlertClosed && webfingerEmail==''"
        class="alert alert-danger alert-dismissible fade show my-2" role="alert">
        <span class="fa fa-warning"></span> {{errorMassage}}
      </div>
      <!--Issuer Discovery Warning-->
      <div *ngIf="!isValidEmailforDiscovery()" class="alert alert-primary alert-dismissible fade show" role="alert">
        <span class="fa fa-warning"></span> This account is not compatible with re:claimID.
      </div>
      <div *ngIf="!newIdProviderDiscovered() && !loggedIn()"
        class="alert alert-secondary alert-dismissible fade show my-2" role="alert">
        <span class="fa fa-info"> </span>  <b class="ml-2">INFO</b><br/>
        It is possible to link your external
        accounts with a re:claimID identity. To do so, enter you email address
        below and click "Check compatibility". <br/><i>NOTE:</i> Not all external accounts
        support linking to re:claimID identities.<br/>
      </div>
      <div *ngIf="!newIdProviderDiscovered()" class="my-2 col-lg-4">
        <input placeholder="user@example.com" [(ngModel)]="webfingerEmail">
        <button *ngIf="!newIdProviderDiscovered()" class="btn btn-primary fhg-link" (click)="discoverIdProvider()">
          <span class="fa fa-search"></span> Check compatibility
        </button>
      </div>
      <!--Description-->
      <!--Link account-->
      <div *ngIf="newIdProviderDiscovered() && !loggedIn()" class="mb-3 px-2">
          <div class="mx-n2">Available claims to request:</div>
          <div *ngFor="let scope of scopes" class="mx-2">
            <i class="fa text-primary" [class.fa-toggle-off]="!scope.chosen" [class.fa-toggle-on]="scope.chosen" [class.text-muted]="necessaryScope(scope.scope)" (click)="!necessaryScope(scope.scope) && scope.chosen = !scope.chosen"></i>
            <span class="ml-1" [class.text-muted]="necessaryScope(scope.scope)">{{scope.scope}}</span>
            <!--<input type="checkbox" class="form-check-input" id="scopes" [disabled]="necessaryScope(scope.scope)" [(ngModel)]="scope.chosen">-->
            <!--<label class="form-check-label" for="scope.chosen">{{scope.scope}}</label>-->
          </div>
        <button class="btn btn-primary mb-1 mt-2 fhg-link" (click)="loginFhgAccount()">
          <span class="fa fa-link"></span> Link
        </button>
        <button class="btn btn-primary mb-1 fhg-link" (click)="cancelLinking()">
          <span class="fa fa-close"></span> Cancel
        </button>
      </div>
    </div>
    <hr />

    <h3>Credentials:</h3>
    <!-- Credential creation warning -->
    <div
      *ngIf="loggedIn() && !credentialNameValid(newCredential) || !credentialTypeValid(newCredential) || !credentialValueValid(newCredential)"
      class="alert alert-primary alert-dismissible fade show" role="alert">
      <span class="fa fa-warning"></span> Note:
      <ul>
        <li>Only use alphanumeric credential names.</li>
        <li>You cannot define the same name twice.</li>
        <li>Types and values may not be empty!</li>
      </ul>
    </div>

    <!-- Requested credential -->
    <table class="table pb-1" style="">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Expires</th>
          <!--<th>Issuer</th>-->
          <th>Issuer</th>
        </tr>
      </thead>
      <tbody>
        <tr [class.alert-danger]="newCredential.name === credential.name"
          [class.alert-warning]="!isCredentialValid(credential)" *ngFor="let credential of credentials">
          <td>
            <div style="min-width: 15em">{{credential.name}}</div>
          </td>
          <td>
            <div>{{credential.type}}</div>
          </td>
          <td>
            <div>{{getExpiration(credential)}}</div>
          </td>
          <!--ISSUER          <td>
            <div style="min-width: 15em">
            </div>
</td>-->
          <td>
            <div style="min-width: 15em">{{credential.issuer}}</div>
          </td>
          <td>
            <button class="btn btn-primary" (click)="deleteCredential(credential)">
              <span class="fa fa-trash"></span>
            </button>
          </td>
          <td>
            <div *ngIf="!isCredentialValid(credential)"> <span style="color:#f00"> Expired </span> <span
                class="fa fa-times"></span> </div>
          </td>
        </tr>
        <tr [class.alert-danger]="isCredInConflict(newCredential)" *ngIf="loggedIn()">
          <td>
            <input [class.text-danger]="!credentialNameValid(newCredential)" placeholder="Credential"
              [(ngModel)]="newCredential.name">
          </td>
          <td>
            <div style="min-width: 15em">JWT</div>
          </td>
          <td>
            {{getNewCredentialExpiration()}}
          </td>
          <td>
            <div style="min-width: 15em">{{newIdProvider.url}}</div>
          </td>
          <td>
            <button class="btn btn-primary" [disabled]="!canAddCredential(newCredential)" (click)="saveIdProvider()">
              <span class="fa fa-plus"></span>
            </button>
            <button class="btn btn-primary ml-2" (click)="cancelAdding()">
              <span class="fa fa-trash"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Edit card buttons -->
    <div>
      <button class="btn btn-primary" (click)="goBack()" [disabled]="!canGoBack()">
        <span class="fa fa-save"></span> Back
      </button>
    </div>
  </div>
</div>
