<!-- Identity escrow screen -->
<div class="card-columns" style="display: flex; flex-direction:column; align-items:center">
  <div class="card m-5 w-75">
    <div class="card-avatar card-img-top">
      <div class="card-avatar-character text-dark">
        <span style="display: inline-block">Escrow of identity <i>{{ identity.name }}</i></span>
        <!-- Status button -->
        <a tabindex="0" class="mr-2" style="float: right;"
           role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom"
           title="Escrow status information"
           data-content="And here's some amazing content. It's very engaging. Right?">
          <span [class]="'fa fa-' + getStatusSymbol()" [style]="'color: ' + getStatusColor() + ';'"></span>
        </a>
      </div>
    </div>
    <!-- Escrow form -->
    <div class="card-body" id="print-section">
      <h4 class="card-subtitle mb-2">PUT</h4>
      <h6 class="card-subtitle mb-2 text-muted">Specify a method to put the identity in escrow.</h6>
      <form>
        <div class="form-row">
          <div class="form-group col-md-7">
            <label for="inputMethod">Method</label>
            <select id="inputMethod" class="form-control"
                    required
                    (change)="method=$event.target.value;">
              <option value="plaintext">Plaintext</option>
              <option value="gns">GNS</option>
            </select>
          </div>
          <div *ngIf="methodRequiresUserSecret(method)" class="form-group col-md-7">
            <label for="inputUserSecret">User Secret</label>
            <input type="text" class="form-control" id="inputUserSecret"
                   name="inputUserSecret"
                   required
                   [(ngModel)]="userSecret">
            <div *ngIf="alertUserSecret" class="p-3">
              <div class="alert alert-danger">
                User secret is required for this escrow method!
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-primary" (click)="startEscrow()">
          <span class="fa fa-exchange"></span> Put {{ identity.name }} in escrow
        </button>
      </form>

      <!-- Anchor output -->
      <div *ngIf="isEscrowFinished()">
        <h5 class="card-subtitle mt-4">Escrow finished! Please keep the following anchor to restore the identity later.</h5>
        <div class="input-group mb-3 mt-3">
          <input type="text" class="form-control col-md-9" id="outputAnchor" aria-describedby="button-copy"
                 readonly
                 [(ngModel)]="anchorString">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" style="margin:0em" type="button" id="button-copy"
                    data-toggle="tooltip" data-placement="top" title="Copy to clipboard"
                    (click)="copyAnchorToClipboard()">
              <span class="fa fa-clipboard"></span>
            </button>
          </div>
        </div>

        <qrcode *ngIf="updateQRImage()"
                [qrdata]="anchorString"
                [width]="350"
                [cssClass]="'qrcode-svg'"
                [errorCorrectionLevel]="'H'"
                elementType="svg"></qrcode>
        <!-- Hidden QR code for download -->
        <qrcode *ngIf="updateQRImage()"
                [qrdata]="anchorString"
                [width]="500"
                [cssClass]="'qrcode-img'"
                [errorCorrectionLevel]="'H'"
                elementType="img"
                style="display: none;"></qrcode>
        <a [href]="href" class="btn btn-primary" (click)="downloadQR()" download>
          <span class="fa fa-download"></span> Download QR code
        </a>
      </div>

      <hr/>

      <!-- Escrow verification -->
      <h4 class="card-subtitle mb-2">VERIFY</h4>
      <h6 class="card-subtitle mb-2 text-muted">Insert your escrow anchor to verify the escrow.</h6>
      <app-anchor-input (anchorOutput)="getAnchor($event)"></app-anchor-input>

      <div *ngIf="alertMethod" class="p-3">
        <div class="alert alert-danger">
          Method is required!
        </div>
      </div>
      <div *ngIf="alertIdentityName" class="p-3">
        <div class="alert alert-danger">
          Identity name is required!
        </div>
      </div>
      <div *ngIf="alertAnchorData" class="p-3">
        <div class="alert alert-danger">
          Anchor data is required!
        </div>
      </div>

      <br/>

      <button class="btn btn-primary" (click)="verifyEscrow()">
        <span class="fa fa-info"></span> Verify escrow
      </button>
      <div *ngIf="alertEscrowValid" class="p-3">
        <div class="alert alert-success">
          Escrow is valid!
        </div>
      </div>
      <div *ngIf="alertEscrowInvalid" class="p-3">
        <div class="alert alert-danger">
          Escrow is invalid!
        </div>
      </div>
      <div *ngIf="alertEscrowSharesMissing" class="p-3">
        <div class="alert alert-warning">
          Some shares of the escrow are missing!
        </div>
      </div>

      <hr/>

      <!-- Go Back Button -->
      <button class="btn btn-primary" [routerLink]="['/index.html']">
        <span class="fa fa-back"></span> Go back
      </button>
    </div>
  </div>
</div>
