<div class="logo"><img src="assets/reclaim_icon.png"/></div>
<router-outlet></router-outlet>
<div style="margin: 1em" (click)="toggleExperimental()">
  <i [className]="isExperimental() ? 'fa fa-toggle-on' : 'fa fa-toggle-off'"></i>
  Exerimental features <b *ngIf="isExperimental()">enabled</b><span *ngIf="!isExperimental()">disabled</span>
</div>
