<form>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="inputMethod">Method</label>
      <select id="inputMethod" class="form-control"
              required
              (change)="anchorOutput.emit(anchor)"
              [(ngModel)]="anchor.method"
              name="method">
        <option value="plaintext">Plaintext</option>
        <option value="gns">GNS</option>
      </select>
    </div>
    <div class="form-group col-md-3">
      <label for="inputIdentityName">Identity name</label>
      <input type="text" class="form-control" id="inputIdentityName"
             name="inputIdentityName"
             required
             (change)="anchorOutput.emit(anchor)"
             [(ngModel)]="anchor.name">
    </div>
    <div class="form-group col-md-7">
      <label for="inputAnchorData">Anchor data</label>
      <input type="text" class="form-control" id="inputAnchorData"
             name="inputAnchorData"
             required
             (change)="anchorOutput.emit(anchor)"
             [(ngModel)]="anchor.anchorData">
    </div>
  </div>
</form>

<div *ngIf="alertAnchorParse" class="p-3">
  <div class="alert alert-danger">
    Failed to parse anchor string!
  </div>
</div>

<button *ngIf="!scannerEnabled" class="btn btn-primary" (click)="scannerEnabled = !scannerEnabled">
  <span class="fa fa-qrcode"></span> Scan from QR code
</button>
<button *ngIf="scannerEnabled" class="btn btn-primary" (click)="scannerEnabled = !scannerEnabled">
  Cancel
</button>
<button *ngIf="!scannerEnabled" class="btn btn-primary" (click)="anchorStringInputEnabled = !anchorStringInputEnabled">
  Insert anchor string
</button>
<div *ngIf="anchorStringInputEnabled && !scannerEnabled">
  <div class="input-group mb-3 mt-3">
    <div class="input-group-prepend">
      <div class="input-group-text" id="btnGroupAddon">Anchor string</div>
    </div>
    <input type="text" class="form-control col-md-7" id="anchorStringInput" aria-describedby="button-insert"
           [(ngModel)]="anchorString">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" style="margin:0em" type="button" id="button-insert"
              data-toggle="tooltip" data-placement="top" title="Parse anchor string"
              (click)="parseAnchorString(anchorString)">
        <span class="fa fa-external-link"></span>
      </button>
    </div>
  </div>
</div>
<zxing-scanner
  *ngIf="scannerEnabled"
  [enable]="scannerEnabled"
  [formats]="['QR_CODE']"
  (scanSuccess)="scanSuccessHandler($event)">
</zxing-scanner>
