@import "node_modules/bootstrap/scss/bootstrap";
/*$fa-font-path: "../node_modules/font-awesome/fonts";*/
@import "node_modules/font-awesome/scss/font-awesome.scss";
@import "app/modal.scss";

html {
  /*font-family: Roboto, Helvetica, Arial, sans-serif;*/
  margin: 0 auto;
  font-size: 14px;
}

body {
  background-color: #fafafa;
}


div.card {
  //box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
  border-radius: 1em;
}

.btn:disabled {
  background-color: lightgray;
}

.custom-select {
  width: auto;
}

.table .row button.btn {
  margin: 0;
}

button.btn, a.btn {
  //box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
  border-radius: 10rem;
  background-image: none;
  margin: 0.5em;
}

button.btn:hover, a.button:hover {
  background-image:none;
}

.btn.btn-primary {
  background-image: none;
  background-color: #fff;
  color: #555;
  border: 1px solid #ddd;
}

.btn.btn-primary:hover {
  background-color: #eee;
  border: 1px solid #eee;
  background-image:none;
  //box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
}

.btn.btn-primary:disabled {
  background-color: white;
  //box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
  border: 1px solid #ccc;
  color: #ccc;
}

.btn-primary:disabled:hover {
  color: #ccc;
  background-color: white;
}

.alert a.buttonlink {
  text-decoration: underline;
  cursor: pointer;
  color: #777;
}

.alert {
  border-radius: 0;
  margin-bottom: 0;
}


div.card-avatar-character {
    font-size: 2em;
    margin: 0.5em;
}

div.card-avatar {
  border-bottom: 1px solid #eee;
}

div.card-avatar-id {
    font-size: 1em;
}

.card .table .row.openid.text-dimmed {
   color: #eee;
}

.card.identity-new {
  background: none;
  border: 1px dashed #555;
}

.card-avatar-character {
  padding-left: 0.5em;
}

.card-avatar .btn-primary {
  border: none;
  background-image: none;
  background-color: rgba(0,0,0,0);
  color: #555;
  font-size: 0.75em;
  float: right;
  min-width: 2em;
}

.card-avatar .btn-primary:hover {
  background-image: none;
  color: #444;
  border: none;
  background-color: #eee; 
}

.card-avatar div.icon {
  border-radius: 5em;
  width: 1.5em;
  color: white;
  display: inline-block;
}

.logo {
  text-align: center;
}

.logo img {
  width: 125px;
}

.card .table input {
  width: 100%;
}

.card input {
  border-radius: 2em;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
}

.card input:focus {
  outline: none;
  border-color: #80bdff;
}

input.form-control:focus {
  outline: none;
  box-shadow: none;
}

div.card-avatar {
    //border-bottom: 2px solid rgba(0, 0, 0, 0.125);
    //min-height: 50px;
}


