<!-- Identity edit screen -->
<div class="m-2 card">
  <div class="card-avatar card-img-top">
    <div class="card-avatar-character text-dark">
      Manage authorizations for <i>{{ identity.name }}</i>
    </div>
  </div>
  <div class="card-body">
    <!-- Authorized entities -->
    <div style="margin-top: 1.5em;">
      <table class="table pb-1">
        <thead style="border-top-style: hidden">
          <tr>
            <th scope="col">
              <h6 class="card-subtitle mb-2">
                Authorized Entity:
              </h6>
            </th>
            <th scope="col">
              <h6 class="card-subtitle mb-2">
                Shared attributes:
              </h6>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ticket of tickets">
            <td>
              <div style="min-width: 15em">
                {{getAudienceName(ticket)}}
              </div>
            </td>
            <td>
              <div style="min-width: 15em">
                {{ticketAttributeMapper[ticket.audience]}}
              </div>
            </td>
            <td>
              <button class="btn btn-primary" *ngIf="showConfirmRevoke != ticket" (click)="confirmRevoke(ticket)">
                <span class="fa fa-unlink"></span> Revoke
              </button>
              <div class="alert alert-danger fade show" *ngIf="showConfirmRevoke == ticket">
                Do you really want to revoke this authorization?<br/><br/>
                <button class="btn btn-primary m-2" (click)="revokeTicket(ticket)">
                  <span class="fa fa-check"></span> Yes
                </button>
                <button class="btn btn-primary m-2" (click)="hideConfirmRevoke()">
                  <span class="fa fa-close"></span> No
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Edit card buttons -->
    <div>
      <button class="btn btn-primary" [routerLink]="['/edit-identity', identity.name]">
        <span class="fa fa-back"></span> Back to {{identity.name}}
      </button>
    </div>
  </div>
</div>
